section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 10px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
    cursor: pointer;
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    font-size: 14px;

}

menu{
    display: flex;
    align-self: flex-end
}