section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 900px;
    background-color: #f9f9f9;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
    cursor: pointer;
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    font-size: 14px;
}