article{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: bisque;
    padding-left: 10px;
}

.actions {
    margin-top: auto;
    text-align: right;
    padding: 15px;
}

button{
    cursor: pointer;
    padding: 8px 12px;
 
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    font-size: 14px;
}