<app-header></app-header>



<main>
    <ul>
        <li>
            <app-user
                [avatar]="users[0].avatar"
                [name]="users[0].name"
                [id]="users[0].id"
                (select)="OnSelectedUser($event)"
            ></app-user>
        </li>
        <li>
            <app-user
                [avatar]="users[1].avatar"
                [name]="users[1].name"
                [id]="users[1].id"
                (select)="OnSelectedUser($event)"
            ></app-user>
        </li>
    </ul>
    <app-tasks [name]="selectedUser?.name"></app-tasks>
</main>
