<app-header></app-header>

<main>
    <ul>
        <!-- @for (user of users; track user.id){ -->
            <li *ngFor="let user of users">
                <app-user
                    [user]="user"
                    (select)="OnSelectedUser($event)"
                ></app-user>
            </li>
        <!-- } -->
    </ul>
    <!-- @if (selectedUser) { -->
        <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name"></app-tasks>
    <!-- }@else { -->
     <ng-template #fallback>
        <p id="fallback">Please Select a User</p>
     </ng-template>
    <!-- } -->
    
</main> 
